/* Footer */
#footer {
    margin-left: 20px;
    margin-top: 50px;
}
#footer .footer_link:hover{
    cursor: pointer;
    color: #a1e1e2;
}
#footer label {
    margin-left: 5px;
    padding-bottom: 10px;
}
