body {
    min-height: 100vh;
}
/* Footer */
#footer_container {
    position: relative;
    min-height: 50px;
}
#footer {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
#footer .footer_link:hover{
    cursor: pointer;
    color: #a1e1e2;
}
#footer label {
    margin-left: 5px;
    padding-bottom: 10px;
}