@media (min-width: 320px) {
    body {
        grid-template-rows: [header]140px [categories]auto [products]auto;
    }
}
@media (min-width: 760px) {
    body {
        grid-template-rows: [header]70px [categories]auto [products]auto;
    }
}
body {
    display: grid;
    margin: 0;
    padding: 0;
}
body a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
#header {
    background: orange;
    display: grid;
    margin: 0;
    align-self: center;
    align-content: center;
}
@media (min-width: 320px) {
    #header {
        grid-template-columns: 220px 35px auto;
        grid-template-rows: 1fr 1fr;
    }
    #header .eshop_name {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    #header .cart {
        grid-row: 1/1;
        grid-column: 3/4;
        justify-self: left;
    }
    #header .login {
        grid-row: 2/3;
        grid-column: 2/4;
    }
    #header .search_bar {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}
@media (min-width: 400px) {
    #header {
        grid-template-columns: [eshop_name]260px [cart]auto [login]auto;
        grid-template-rows: 1fr 1fr;
    }
    #header .eshop_name, #header .cart, #header .login {
        grid-row: 1/2;
    }
    #header .cart {
        grid-column: cart;
    }
    #header .login{
        grid-column: login;
    }
    #header .search_bar {
        grid-row: 2/3;
        grid-column: 1/4;
    }
}
@media (min-width: 760px) {
    #header {
        grid-template-columns: [eshop_name]260px [searchbar]auto [cart]60px [login]100px;
        grid-template-rows: 1fr;
    }
    #header .eshop_name, #header .search_bar, #header .cart, #header .login {
        grid-row: 1/2;
    }
    #header .eshop_name {
        grid-column: eshop_name;
    }
    #header .search_bar {
        grid-column: searchbar;
    }
    #header .cart {
        grid-column: cart;
    }
    #header .login{
        grid-column: login;
    }
}
@media (min-width: 1100px) {
    #header {
        grid-template-columns: [eshop_name]260px [searchbar]auto [cart]60px [login]300px;
    }
}
@media (min-width: 1200px) {
    #header {
        grid-template-columns: [eshop_name]260px [searchbar]auto [cart]200px [login]300px;
    }
}
#header > * {
    display: inline;
    margin: 0;
    padding: 10px;
    align-self: center;
}
#header .eshop_name {
    justify-self: left;
    cursor: pointer;
}
#header .search_bar {
    justify-self: center;
}
#header .cart {
    justify-self: right;
    cursor: pointer;
}
#header .login{
    justify-self: center;
    cursor: pointer;
}
#header .search_bar button {
    cursor: pointer;
}
/*searchbar*/
@media (min-width: 320px) {
    #header form {
        width: 200px;
    }
    #header form input {
        width: 60%;
    }
}
@media (min-width: 400px) {
    #header form {
        width: 300px;
    }
    #header form input {
        width: 75%;
    }
}

/*Order process*/
#order_process {
    display: block;
    margin-left: 20px;
}
#order_process > * {
    display: inline-block;
    cursor: default;
}
#order_process > .content:hover, #order_process > .shipping:hover {
    color: #a1e1e2;
}
#order_process > .content a:hover, #order_process > .shipping a:hover {
    color: #a1e1e2;
}
#order_process > .content, #order_process > .shipping {
    cursor: pointer;
    color: black;
}
#order_process > .payment {
    color: black;
}

/*Content*/
#content {
    max-width: 1200px;
    justify-self: center;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}
#content > * {
    padding: 20px;
}
/*Payment method*/
#payment_options {
    border: 3px solid orange;
    border-radius: 5px;
}
#payment_options form p {
    padding: 10px 5px;
    border-radius: 5px;
    background: #eaeaea;
}
#payment_options form p input:hover, #payment_options form p label:hover {
    cursor: pointer;
}
#payment_options form p input {
    float: right;
}
#payment_options form p .price {
    background: white;
    padding: 5px;
    border-radius: 15px;
}
#payment_options form p label {
    padding: 3px;
}
#payment_options form fieldset {
    border: none;
}
/*Continue*/
#finish {
    height: fit-content;
    border: 3px solid orange;
    border-radius: 5px;
}
#finish > * {
    align-self: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#finish button {
    cursor: pointer;
}